<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4bug8AK7N2cInOzmOPsumpz3Xw5jNXIc</string>
	<key>GCM_SENDER_ID</key>
	<string>292140891111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasecrudtute</string>
	<key>PROJECT_ID</key>
	<string>crudtutorial-e263c</string>
	<key>STORAGE_BUCKET</key>
	<string>crudtutorial-e263c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292140891111:ios:213b953dcee3517efd5b42</string>
</dict>
</plist>